auto-install-peers=false
strict-peer-dependencies=false
package-manager-strict=true
prefer-frozen-lockfile=true
shared-workspace-lockfile=true
recursive-install=true
link-workspace-packages=true
verify-store-integrity=true
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=120000
network-concurrency=8
child-concurrency=2
